// home


.block-icon {
    padding-top: 80px;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 80px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
            }

            @include media(">=large") {
                flex: 0 0 40%;
                max-width: 40%;
            }

            &:last-child {
                margin-bottom: 0;

                @include media(">=medium") {
                    margin-bottom: 80px;
                }
            }
        }
    }
}

.section-text-image {
    padding-top: 60px;

    @include media(">=large") {
        padding-top: 0;
    }

    .content {
        background: linear-gradient(270deg, #F6F6F6 0%, #F6F6F6 16.56%, #F6F6F6 44.51%, #F6F6F6 67.28%, #F6F6F6 92.55%);

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: -16px;
            margin-right: -16px;

            flex-direction: row-reverse;

            @include media(">=large") {
                flex-direction: row;
            }


            .col-left {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 16px;
                padding-right: 16px;

                @include media(">=large") {
                    flex: 0 0 40%;
                    max-width: 40%;
                }

                .media {
                    height: 100%;
                    position: relative;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    .dis-text {
                        position: absolute;
                        bottom: 7px;
                        right: 15px;
                        font-size: 12px;
                        color: $color-dark-gray;
                        font-weight: 400;
                    }
                }

            }

            .col-right {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 16px;
                padding-right: 16px;

                @include media(">=large") {
                    flex: 0 0 60%;
                    max-width: 60%;
                }

                .info {
                    max-width: 633px;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    padding-left: 24px;
                    padding-right: 24px;

                    @include media(">=x-large") {
                        padding-top: 97px;
                        padding-bottom: 97px;
                        padding-left: 50px;
                        padding-right: 50px;
                    }

                }

            }
        }
    }
}

.block-counter-card {
    padding-top: 60px;
    padding-bottom: 28px;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;
        counter-reset: section;


        .col {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
            }

            .image-cell {
                &::before {
                    counter-increment: section;
                    content: counter(section, decimal);
                }
            }

        }
    }
}

.section-co-pay {
    padding-top: 60px;
    padding-bottom: 28px;  
    background-color: $color-lighter-gray;
    margin-bottom: 72px;

    .content{
        p{
            font-size: 18px;
            line-height: 28px;
        }
    }

    .media {
        @include media("<=medium") {
            margin-bottom: 32px;
        }
        .tag-text{
            display: block;
            text-align: right;
            padding-right: 20px;
        }
    }

    .footnote{
        max-width: 640px;
        
        @include media(">=large") {
            margin-top: -25px;

        }
    }
}


/*
    /what-is-carcinoid-syndrome
*/

.block-content-wrapper {
    padding-top: 60px;
    padding-bottom: 30px;

    @include media(">=large") {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .content {
        max-width: 976px;

        h2 {
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 30px;

            @include media(">=large") {
                font-size: 44px;
                line-height: 56px;

            }

        }

        h3 {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;

            @include media(">=large") {
                font-size: 30px;
                line-height: 36px;

            }

        }

        .btn-wrap {
            margin-top: 70px;

            @include media(">=large") {
                margin-top: 60px;
            }
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        flex-direction: row-reverse;

        @include media(">=large") {
            flex-direction: row;
        }


        .col-left {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=large") {
                flex: 0 0 60%;
                max-width: 60%;
            }

            .info {

                .card-icon-wrapper {
                    margin-top: 30px;

                    .card-icon {
                        margin-bottom: 30px;

                        @include media(">=large") {
                            margin-bottom: 42px;
                        }

                    }
                }

                .btn-wrap {
                    margin-top: 70px;

                    @include media(">=large") {
                        margin-top: 60px;
                    }
                }

            }

        }

        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=large") {
                flex: 0 0 40%;
                max-width: 40%;
            }

        }
    }

    .media {
        height: 100%;
        position: relative;

        img {
            width: 100%;
        }

        .dis-text {
            position: absolute;
            bottom: 7px;
            right: 15px;
            font-size: 12px;
            color: $color-dark-gray;
            font-weight: 400;
        }

        &.desktop-only {
            display: none;

            @include media(">=large") {
                display: block;
            }
        }

        &.mobile-only {
            display: block;
            margin-top: 38px;
            margin-bottom: 38px;

            @include media(">=large") {
                display: none;
            }
        }


    }

    .row-type-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col-6 {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
            }

        }
    }
    .row-type-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col-left {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 0;
            }

        }
        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=medium") {
                flex: 0 0 30%;
                max-width: 30%;
            }

        }
    }
    .row-type-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col-left {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 0;
            }

        }
        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=medium") {
                flex: 0 0 40%;
                max-width: 40%;
            }

        }
    }

    .tile-icon--wrapper{
        margin-top: 40px;
        margin-bottom: 65px;
        
        @include media(">=medium") {
            margin-bottom: 100px;
        }
    }

    &--alt {
        padding-top: 30px;
        padding-bottom: 30px;

        @include media(">=large") {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.what-is-carcinoid-syndrome--image-sidebar {
    img {
        display: block;
        width: 85%;
        margin: 2rem auto;

        @include media(">=small") {
            width: auto;
            margin: 0 0 2rem;
        }
    }
}


.what-is-carcinoid-syndrome--eruption {
    img {
        display: block;
        margin: 0 auto 2rem;
        max-width: 171px;

        @include media(">=small") {
            margin: 0;
            max-width: 100%;
        }
    }
}

/*
    /how-xermelo-helps
*/

.how-xermelo-helps--image-sidebar-1 {
    img {
        display: block;
        width: 85%;
        margin: 2rem auto 0;

        @include media(">=small") {
            width: auto;
            margin: 0;
        }
    }
}

.how-xermelo-helps--image-sidebar-2 {
    img {
        display: block;
        width: 75%;
        margin: 2rem auto 0;

        @include media(">=small") {
            width: auto;
            margin: 0;
        }
    }
}

/*
    /starting-xermelo
*/

.starting-xermelo--three-times-daily {
    img.mobile-only {
        display: block;
        margin: 0 auto;
        max-width: 328px;

        @include media(">=small") {
            display: none;
        }
    }
}

.starting-xermelo--packaging {
    img {
        display: block;
        margin: 0 auto;
        max-width: 283px;

        @include media(">=small") {
            margin: 0;
            max-width: 100%;
        }
    }
}

/*
    /ask-a-nurse
*/

.ask-a-nurse--image-banner {
    .disclaimer {
        font-size: 11px;
        line-height: 14px;
    }

    // Main copy
    >.grid.image-callout {
        @include media(">=small") {
            padding-bottom: 3rem;
        }

        &.image-callout--right-image {

            // Added to avoid copy interacting with these images
            >div:not(.image-callout--image) {
                &:before {
                    @include media(">=small") {
                        height: calc(100% + 8rem);
                    }

                    @include media(">=large") {
                        height: calc(100% + 13rem);
                    }
                }
            }
        }
    }

    // Footnote
    >div:nth-of-type(2) {
        margin-top: 3rem;

        @include media(">=small") {
            margin-top: 4rem;
        }
    }
}

.cne-sign-up {
    // Comps have no margin between the initial form and the ISI, which is unique
    // to this page
    margin-bottom: -5rem;

    @include media(">=small") {
        margin-bottom: -6rem;
    }

    &.cne-sign-up--taking-no,
    &.cne-sign-up--taking-yes {
        margin-bottom: 0;
    }
}

#sign-up .form--cne-sign-up {

    // Dropdown error message is split for one of them (X on right, copy underneath)
    .form__error--split {
        @include media(">=small") {
            margin-top: 1rem;
            padding-left: 0;

            &::before,
            &::after {
                top: unset;
                left: unset;
                bottom: 3.4rem;
                right: -5.5rem;
            }
        }
    }
}

/*
    /how-to-get-xermelo
*/

.how-to-get-xermelo--copay {
    text-align: center;

    @include media(">=small") {
        text-align: left;
    }

    img {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 168px;

        @include media(">=small") {
            width: 209px;
        }
    }
}

/*
    Utility pages
*/

.grid.utility-page-intro {
    margin-bottom: 9rem;

    p:not(:last-child) {
        margin-bottom: 2rem;
    }

    p.buttons {
        margin-top: 4rem;
    }
}

/*
    Sitemap
*/

.sitemap {
    margin-bottom: 9rem;

    ul {
        &:not(:last-of-type) {
            margin-bottom: 5rem;
        }

        ul {
            margin-top: 1rem;
        }
    }
}