// home


.block-icon {
    padding-top: 80px;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 80px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
            }

            @include media(">=large") {
                flex: 0 0 40%;
                max-width: 40%;
            }

            &:last-child {
                margin-bottom: 0;

                @include media(">=medium") {
                    margin-bottom: 80px;
                }
            }
        }
    }
}

.section-text-image {
    padding-top: 60px;

    @include media(">=large") {
        padding-top: 0;
    }

    .container {
        @include media("<=medium") {
            padding: 0;
            max-width: 100%;
            width: 100%;
        }
    }

    .content {
        background: linear-gradient(270deg, #F6F6F6 0%, #F6F6F6 16.56%, #F6F6F6 44.51%, #F6F6F6 67.28%, #F6F6F6 92.55%);

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: -16px;
            margin-right: -16px;

            flex-direction: row-reverse;

            @include media(">=large") {
                flex-direction: row;
            }


            .col-left {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 16px;
                padding-right: 16px;

                @include media(">=large") {
                    flex: 0 0 40%;
                    max-width: 40%;
                }

                .media {
                    height: 100%;
                    position: relative;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    .dis-text {
                        position: absolute;
                        bottom: 7px;
                        right: 15px;
                        font-size: 12px;
                        color: $color-dark-gray;
                        font-weight: 400;
                    }
                }

            }

            .col-right {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 16px;
                padding-right: 16px;

                @include media(">=large") {
                    flex: 0 0 60%;
                    max-width: 60%;
                }

                .info {
                    max-width: 633px;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    padding-left: 24px;
                    padding-right: 24px;

                    @include media(">=x-large") {
                        padding-top: 97px;
                        padding-bottom: 97px;
                        padding-left: 50px;
                        padding-right: 50px;
                    }

                    h3 {
                        font-size: 28px;
                        line-height: 32px;
                        font-weight: 700;

                        @include media(">=large") {
                            font-size: 32px;
                            line-height: 36px;
                        }

                    }

                }

            }
        }
    }
}

.section-two-col-type-2 {
    padding-top: 60px;

    @include media(">=large") {
        padding-top: 100px;
    }

    .container {
        @include media("<=medium") {
            padding: 0;
            max-width: 100%;
            width: 100%;
        }
    }

    .content {
        background: linear-gradient(270deg, #F6F6F6 0%, #F6F6F6 16.56%, #F6F6F6 44.51%, #F6F6F6 67.28%, #F6F6F6 92.55%);

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: -16px;
            margin-right: -16px;

            flex-direction: row-reverse;

            @include media(">=large") {
                flex-direction: row-reverse;
            }


            .col-left {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 16px;
                padding-right: 16px;

                @include media(">=large") {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                .media {
                    height: 100%;
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .dis-text {
                        position: absolute;
                        bottom: 7px;
                        right: 15px;
                        font-size: 12px;
                        color: $color-dark-gray;
                        font-weight: 400;
                    }
                }

            }

            .col-right {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 16px;
                padding-right: 16px;

                @include media(">=large") {
                    flex: 0 0 45%;
                    max-width: 45%;
                }

                .info {
                    max-width: 633px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 24px;
                    padding-right: 24px;

                    @include media(">=x-large") {
                        padding-top: 40px;
                        padding-bottom: 40px;
                        padding-left: 24px;
                        padding-right: 50px;
                    }

                    h3 {
                        font-size: 28px;
                        line-height: 32px;
                        font-weight: 700;

                        @include media(">=large") {
                            font-size: 32px;
                            line-height: 36px;
                        }

                    }

                    .button {
                        margin-top: 25px;
                    }

                    .sm-text {
                        margin-top: 25px;
                    }

                }

            }
        }
    }
}

.block-counter-card {
    padding-top: 60px;
    padding-bottom: 28px;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;
        counter-reset: section;


        .col {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
            }

            .image-cell {
                &::before {
                    counter-increment: section;
                    content: counter(section, decimal);
                }
            }

        }
    }
}

.section-co-pay {
    padding-top: 60px;
    padding-bottom: 28px;
    background-color: $color-lighter-gray;
    margin-bottom: 72px;

    .content {
        p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    .media {
        @include media("<=medium") {
            margin-bottom: 32px;
        }

        .tag-text {
            display: block;
            text-align: right;
            padding-right: 20px;
        }
    }

    .footnote {
        max-width: 640px;

        @include media(">=large") {
            margin-top: -25px;

        }
    }
}

.block-diet-and-nutrition {
    .card-icon {
        margin-bottom: 32px;
        margin-top: 40px;

        @include media(">=large") {
            margin-bottom: 20px;
            margin-top: 50px;
        }

        h3 {
            @include media(">=large") {
                margin-bottom: 0;
            }
        }
    }
}

.block-404,
.block-site-map {
    padding-top: 80px;

    @include media(">=large") {
        padding-top: 100px;
    }
}

.block-site-map {
    ul {
        margin-top: 0;
        margin-bottom: 1rem !important;
        li {
            padding-left: 3.5rem;
            color: $color-brand-purple;
            font-weight: 700;

            a {
                color: inherit;
                font-weight: 700;
            }

            ul {
                li {
                    padding-left: 1.5rem;
                    font-weight: 400;

                    &::before{
                        left: 0;
                    }

                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

/*
    /what-is-carcinoid-syndrome
*/

.block-content-wrapper {
    padding-top: 60px;
    padding-bottom: 30px;

    @include media(">=large") {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .content {
        max-width: 976px;

        h2 {
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 30px;

            @include media(">=large") {
                font-size: 44px;
                line-height: 56px;

            }

        }

        h3 {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;

            @include media(">=large") {
                font-size: 30px;
                line-height: 36px;

            }

        }

        .btn-wrap {
            margin-top: 70px;

            @include media(">=large") {
                margin-top: 60px;
            }
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        flex-direction: row-reverse;

        @include media(">=large") {
            flex-direction: row;
        }


        .col-left {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=large") {
                flex: 0 0 60%;
                max-width: 60%;
            }

            .info {

                .card-icon-wrapper {
                    margin-top: 30px;

                    .card-icon {
                        margin-bottom: 30px;

                        @include media(">=large") {
                            margin-bottom: 42px;
                        }

                    }
                }

                .btn-wrap {
                    margin-top: 70px;

                    @include media(">=large") {
                        margin-top: 60px;
                    }
                }

            }

        }

        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=large") {
                flex: 0 0 40%;
                max-width: 40%;
            }

        }
    }

    .media {
        height: 100%;
        position: relative;

        img {
            width: 100%;
        }

        .dis-text {
            position: absolute;
            bottom: 7px;
            right: 15px;
            font-size: 12px;
            color: $color-dark-gray;
            font-weight: 400;
        }

        &.desktop-only {
            display: none;

            @include media(">=large") {
                display: block;
            }
        }

        &.mobile-only {
            display: block;
            margin-top: 38px;
            margin-bottom: 38px;

            @include media(">=large") {
                display: none;
            }
        }


    }

    .row-type-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col-6 {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
            }

        }
    }

    .row-type-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col-left {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 0;
            }

        }

        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=medium") {
                flex: 0 0 30%;
                max-width: 30%;
            }

        }
    }

    .row-type-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;

        .col-left {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 0;
            }

        }

        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=medium") {
                flex: 0 0 40%;
                max-width: 40%;
            }

        }
    }

    .row-type-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;
        margin-top: 10px;

        @include media(">=large") {
            margin-left: -30px;
            margin-right: -30px;

        }

        .col-6 {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 50%;
                max-width: 50%;
            }

            @include media(">=large") {
                padding-left: 30px;
                padding-right: 30px;
            }

        }
    }

    .row-type-5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -16px;
        margin-right: -16px;
        align-items: center;

        .col-left {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;

            @include media(">=medium") {
                flex: 0 0 60%;
                max-width: 60%;
                margin-bottom: 0;
            }

        }

        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;

            @include media(">=medium") {
                flex: 0 0 35%;
                max-width: 35%;
                text-align: right;
            }


        }
    }

    .tile-icon--wrapper {
        margin-top: 40px;
        margin-bottom: 65px;

        @include media(">=medium") {
            margin-bottom: 100px;
        }
    }

    &--alt {
        padding-top: 30px;
        padding-bottom: 30px;

        @include media(">=large") {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.what-is-carcinoid-syndrome--image-sidebar {
    img {
        display: block;
        width: 85%;
        margin: 2rem auto;

        @include media(">=small") {
            width: auto;
            margin: 0 0 2rem;
        }
    }
}


.what-is-carcinoid-syndrome--eruption {
    img {
        display: block;
        margin: 0 auto 2rem;
        max-width: 171px;

        @include media(">=small") {
            margin: 0;
            max-width: 100%;
        }
    }
}

/*
    /how-xermelo-helps
*/

.how-xermelo-helps--image-sidebar-1 {
    img {
        display: block;
        width: 85%;
        margin: 2rem auto 0;

        @include media(">=small") {
            width: auto;
            margin: 0;
        }
    }
}

.how-xermelo-helps--image-sidebar-2 {
    img {
        display: block;
        width: 75%;
        margin: 2rem auto 0;

        @include media(">=small") {
            width: auto;
            margin: 0;
        }
    }
}

/*
    /starting-xermelo
*/

.starting-xermelo--three-times-daily {
    img.mobile-only {
        display: block;
        margin: 0 auto;
        max-width: 328px;

        @include media(">=small") {
            display: none;
        }
    }
}

.starting-xermelo--packaging {
    img {
        display: block;
        margin: 0 auto;
        max-width: 283px;

        @include media(">=small") {
            margin: 0;
            max-width: 100%;
        }
    }
}

/*
    /ask-a-nurse
*/

.ask-a-nurse--image-banner {
    .disclaimer {
        font-size: 11px;
        line-height: 14px;
    }

    // Main copy
    >.grid.image-callout {
        @include media(">=small") {
            padding-bottom: 3rem;
        }

        &.image-callout--right-image {

            // Added to avoid copy interacting with these images
            >div:not(.image-callout--image) {
                &:before {
                    @include media(">=small") {
                        height: calc(100% + 8rem);
                    }

                    @include media(">=large") {
                        height: calc(100% + 13rem);
                    }
                }
            }
        }
    }

    // Footnote
    >div:nth-of-type(2) {
        margin-top: 3rem;

        @include media(">=small") {
            margin-top: 4rem;
        }
    }
}

.cne-sign-up {
    // Comps have no margin between the initial form and the ISI, which is unique
    // to this page
    margin-bottom: -5rem;

    @include media(">=small") {
        margin-bottom: -6rem;
    }

    &.cne-sign-up--taking-no,
    &.cne-sign-up--taking-yes {
        margin-bottom: 0;
    }
}

#sign-up .form--cne-sign-up {

    // Dropdown error message is split for one of them (X on right, copy underneath)
    .form__error--split {
        @include media(">=small") {
            margin-top: 1rem;
            padding-left: 0;

            &::before,
            &::after {
                top: unset;
                left: unset;
                bottom: 3.4rem;
                right: -5.5rem;
            }
        }
    }
}

/*
    /how-to-get-xermelo
*/

.how-to-get-xermelo--copay {
    text-align: center;

    @include media(">=small") {
        text-align: left;
    }

    img {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 168px;

        @include media(">=small") {
            width: 209px;
        }
    }
}

/*
    Utility pages
*/

.grid.utility-page-intro {
    margin-bottom: 9rem;

    p:not(:last-child) {
        margin-bottom: 2rem;
    }

    p.buttons {
        margin-top: 4rem;
    }
}

/*
    Sitemap
*/

.sitemap {
    margin-bottom: 9rem;

    ul {
        &:not(:last-of-type) {
            margin-bottom: 5rem;
        }

        ul {
            margin-top: 1rem;
        }
    }
}

.webform-submission-form {

    @media (min-width:1200px) {
        max-width: 1136px;
        margin: 0 auto;
    }

    @include media("<=small") {
        max-width: 100%;
        padding: 0 20px;
        background: rgba(240, 240, 240, 0.8);
    }

    .webform-progress,
    .form-wrapper,
    .form-actions,
    .webform-confirmation {
        background: rgba(240, 240, 240, 0.8);
    }

    .webform-progress {
        padding: 16px 0 20px;

        @include media(">=small") {
            padding: 20px 40px;
        }

        ul {
            margin-top: 0;
            list-style: none;
            justify-content: space-between;

            .progress-step {
                // flex: 0 0 auto;
                padding-left: 0;
                margin-bottom: 0;

                &:last-child {
                    display: none;
                }

                &::before {
                    display: none;
                }

                .progress-marker {
                    &::before {
                        color: #2D1A6B;
                        margin-right: 0;
                        border: 2px solid #9180B7;
                        background-color: white;
                        padding-bottom: 0;
                        vertical-align: middle;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        justify-content: center;
                    }

                    &::after {
                        right: 0;
                        z-index: 0;
                        background-color: #D9D9D9;
                    }
                }

                &:nth-child(1) {
                    width: auto;
                    flex: 0 0 auto;

                    .progress-marker {

                        &::after {
                            right: 0;
                            display: none;
                        }
                    }
                }

                &.is-active {
                    .progress-marker {
                        &::before {
                            color: white;
                            border-color: transparent;
                            background-color: #9D91BF;
                        }

                        &::after {
                            background-color: #9180B7;
                        }
                    }
                }

                &.is-complete {
                    .progress-marker {
                        &::before {
                            color: white;
                            border-color: transparent;
                            background-color: #2D1A6B;
                        }

                        &::after {
                            background-color: #9180B7;
                            background-color: #2D1A6B;
                        }
                    }
                }
            }

            .progress-text {
                display: none;
            }
        }
    }

    .form-wrapper {
        padding: 40px 0;

        @include media(">=small") {
            padding: 40px;
        }

        .js-form-type-textarea {
            label {
                color: #333333;
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 30px;
                display: block;
            }

            textarea {
                resize: none;
                height: 266px;
                width: 100%;
                outline: none;
                max-width: 780px;
                border: 2px solid #482F8B;

                @include media(">=small") {
                    height: 146px;
                }
            }
        }

        .fieldgroup {
            padding: 0 !important;
            margin-bottom: 50px;

            legend {
                color: #333333;
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .fieldset-wrapper {
                .js-form-item {
                    margin-bottom: 16px;
                    display: flex;
                    align-items: center;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    input {
                        margin: 0;
                        margin-right: 10px;
                        height: 24px;
                        width: 24px;
                        flex: 0 0 24px;
                        max-width: 24px;
                        cursor: pointer;
                    }

                    label {
                        color: #333333;
                        font-size: 18px;
                        line-height: 30px;
                        cursor: pointer;
                    }

                    .form-checkbox {
                        -webkit-appearance: none;
                        appearance: none;
                        border: 2px solid #482F8B;
                        position: relative;

                        &:checked {
                            background-color: #482F8B;

                            &:after,
                            &::before {
                                content: "";
                                position: absolute;
                                height: 3px;
                                background: #ffffff;
                            }
                        }


                        &::before {
                            width: 8px;
                            top: 12px;
                            left: 2px;
                            transform: rotate(44deg);
                        }

                        &::after {
                            width: 15px;
                            top: 9px;
                            left: 5px;
                            transform: rotate(-47deg);
                        }
                    }

                    .form-radio {
                        -webkit-appearance: none;
                        appearance: none;
                        border: 2px solid #482F8B;
                        border-radius: 50%;
                        position: relative;

                        &:checked {
                            &::after {
                                content: "";
                                position: absolute;
                                height: 3px;
                                background-color: #482F8B;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 75%;
                                height: 75%;
                                border-radius: 50%;

                            }
                        }


                    }
                }
            }
        }
    }

    .form-actions {
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: 20px 0px;
        text-align: right;

        @include media(">=small") {
            padding: 70px 40px 40px;
        }

        .button {
            border: none;
            border-radius: 4px;
            padding: 10px 24px;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
            width: 100%;
            font-family: $font-sans;

            @include media(">=small") {
                width: auto;
            }
        }

        .webform-button--previous {
            color: #482F8B;
            min-width: 120px;
            margin-bottom: 20px;
            background-color: #D9D9D9;

            @include media(">=small") {
                margin-right: 20px;
                margin-bottom: 0;
            }
        }

        .webform-button--next,
        .webform-button--submit {
            color: white;
            min-width: 90px;
            background-color: rgba(72, 47, 139, 1);
        }
    }

    .webform-confirmation {
        padding: 40px 0;

        @include media(">=small") {
            padding: 40px;
        }

        &__message {
            h3 {
                color: #2D1A6B;
                font-size: 30px;
                line-height: 28px;
                font-weight: 700;
                font-family: $font-sans-condensed;
                margin-bottom: 40px;
            }

            p {
                color: #333333;
                font-size: 18px;
                line-height: 32px;

                strong {
                    font-weight: 600;
                }
            }

            .block-content {
                padding-top: 48px;
                max-width: 712px;
                margin-bottom: 30px;
            }

            .btn-wrap {
                padding-bottom: 80px;

                @include media(">=large") {
                    padding-bottom: 260px;
                }

                .button {
                    border-radius: 4px;
                    // min-width: 295px;
                    font-weight: 600;
                    padding: 10px 24px;
                    padding-right: 50px;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        height: 16px;
                        width: 16px;
                        background-image: url("/themes/xermelo/images/global/download-down-arrow.png");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &__back {
            text-align: center;
            margin-bottom: 0;

            @include media(">=small") {
                text-align: left;
            }

            .btn-start-over {
                font-weight: 600;
                color: #482F8B;
                font-size: 16px;
                line-height: 30px;
                text-decoration: none;
                position: relative;
                padding-left: 26px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 17px;
                    width: 17px;
                    background-image: url("/themes/xermelo/images/global/start-over-icon.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: translateY(-50%);
                }
            }
        }

        .confirmation__back {
            text-align: center;
            margin-bottom: 0;

            @include media(">=small") {
                text-align: left;
            }

            .btn-start-over {
                font-weight: 600;
                color: #482F8B;
                font-size: 16px;
                line-height: 30px;
                text-decoration: none;
                position: relative;
                padding-left: 26px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 17px;
                    width: 17px;
                    background-image: url("/themes/xermelo/images/global/start-over-icon.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: translateY(-50%);
                }
            }
        }
    }

    #edit-page-3- {
        @include media(">=small") {
            padding-bottom: 0px;
        }
    }

    #edit-page-2,
    #edit-page-4 {

        @include media(">=large") {
            padding-bottom: 260px;
        }
    }
}

.webform-ajax-form-wrapper {
    .webform-submission-form {
        div[aria-label="Error message"] {
            color: red;
            background-color: white;
            padding: 16px;
            border: 1px solid red;
            margin-bottom: 16px;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 0;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

.block-xermilo-pills {
    &.background--gray {
        .two-col {

            .col-left {
                margin-bottom: 48px;

                @include media(">=large") {
                    margin-bottom: 0;
                }

                .info {
                    max-width: 100% !important;
                }
            }

            .col-left,
            .col-right {
                @include media(">=large") {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }

            .col-right {
                .block-content {
                    display: flex;

                    .media {
                        flex: 0 0 80px;
                        max-width: 80px;
                    }

                    .block-title {
                        margin-left: 16px;

                        @include media(">=large") {
                            margin-left: 32px;
                        }

                        h4 {
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 27px;

                            @include media(">=large") {
                                font-size: 24px;
                                line-height: 28px;
                            }

                            strong {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ask-a-nurse-banner {
    padding-bottom: 0;

    .two-col {

        .col-left {
            @include media(">=large") {
                flex: 0 0 55%;
                max-width: 55%;
            }
        }

        .col-right {
            @include media(">=large") {
                flex: 0 0 45%;
                max-width: 45%;
            }
        }

        .col-left {
            .card-list-wrapper {
                margin-bottom: 16px;

                li {
                    padding-left: 16px;

                    &::before {
                        left: 0;
                    }
                }
            }
        }
    }

    .btn-wrap {
        padding-top: 12px;
        margin-bottom: 30px;
    }

    .disclaimer-block {
        max-width: 870px;
    }
}

.cne-locator {
    &__intro {
        .grid {
            width: 100% !important;

            @include media(">=medium") {
                justify-content: flex-start;
            }

            .col--2-1 {
                width: 100% !important;

                @include media(">=small") {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: 16px;
                }

                @include media(">=medium") {
                    flex: 0 0 30%;
                    max-width: 30%;
                    margin-bottom: 0;
                }

                @include media(">=large") {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
            }

            .col-d--9-9 {
                @include media(">=medium") {
                    flex: 0 0 70%;
                    max-width: 70%;
                }

                @include media(">=large") {
                    flex: 0 0 60%;
                    max-width: 60%;
                }

                h2 {
                    font-size: 22px;
                    line-height: 24px;

                    @include media(">=large") {
                        font-size: 30px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

.cne-sign-up {
    margin-bottom: 80px;

    @media(max-width:575px) {
        max-width: 100%;
    }

    @include media(">=large") {
        max-width: 1088px;
    }

    .grid {
        @include media(">=medium") {
            justify-content: flex-start;
        }

        .col-large--8-7 {
            width: 100%;
        }
    }
}