// Fonts
@import url("https://use.typekit.net/sog3fse.css");

$font-sans: 'proxima-nova', sans-serif;
$font-material-symbols: 'Material Symbols Outlined';

// Font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$color-dark-gray: #333;
$color-mid-gray: #666;
$color-light-gray: #f0f0f0;
$color-lighter-gray: #f8f8f8;
$color-brand-purple: #482f8b;
$color-orange: #fec524;
$color-green: #cddc28;

// Z indexes
$z-index-isi: 9000;
$z-index-header: 9001;
$z-index-header-isi-open: 9002;
$z-index-modal: 9003;

// Easings
$ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);

// Misc.
%no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@mixin mobile-only {
    @include media(">=small") {
        display: none;
    }
}

@mixin desktop-only {
    display: none;

    @include media(">=small") {
        display: block;
    }
}
