.ctas,
.eop-callouts {
    .grid {
        > div {
            border-bottom-color: $color-brand-purple;

            h5 {
                &:after {
                    background-color: $color-green;
                }
            }

            p {
                font-size: 20px;
                line-height: 3rem;
                color: $color-brand-purple;
                
                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }

            .button {
                @include media(">=small") {
                    bottom: 5rem;
                }
            }
        }
    }
}

section + .ctas,
section + .eop-callouts {
    // Margins are smaller on HCP
    .grid {
        margin-top: 7rem;

        @include media(">=small") {
            margin-top: 7rem;
        }
    }
}
