/*
    /about-csd
*/

.about-csd--grid-lockup {
    @include media(">=small") {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: grid-size(5, 5) grid-size(7, 6);
    }
    
    @include media(">=large") {
        grid-template-columns: grid-size(3, 3) grid-size(5, 4);
    }

    .about-csd--grid-lockup__image {
        @include media(">=small") {
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            display: flex;
            align-items: flex-end;
            padding-right: var(--grid-column-spacing);
        }

        img.mobile-only {
            display: block;
            width: 70%;
            transform: translate(10%, 0);
            margin: 0 auto;
            
            @include media(">=small") {
                display: none;
            }
        }
    }

    .about-csd--grid-lockup__callout {
        @include media(">=small") {
            grid-column: 2;
            grid-row: 2;
            padding-bottom: 3rem;
        }

        .gradient-callout {
            @include media(">=small") {
                position: relative;
                left: -2rem;
            }
        }
    }

    .about-csd--grid-lockup__copy {
        margin-top: 4rem;

        @include media(">=small") {
            grid-column: 2;
            grid-row: 1;
            margin-top: 0;
            padding-bottom: 2rem;
        }
    }
}

/*
    /about-xermelo
*/

.about-xermelo--efficacy-stats {
    font-size: 20px;
    line-height: 24px;
    color: $color-brand-purple;

    h3 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 0;
    }

    img {
        width: 128px;
        margin: -3rem 0 -4rem;
        
        @include media(">=small") {
            width: auto;
            margin: 0;
        }
    }
}

.about-xermelo--efficacy-chart {
    padding: 3rem 2rem;
    background-color: #fff;
    
    @include media(">=small") {
        padding: 4rem 3rem 3rem;
    }

    .footnote {
        margin-top: 3rem;
    }
}

/*
    /resources
*/

.resources--sample-letters {
    @include media(">=small") {
        align-items: stretch;
    }

    h4.circle-icon__container {
        margin-bottom: 2rem;
        
        @include media(">=small") {
            margin-bottom: 0;
        }
    }

    p {
        @include media(">=small") {
            padding-bottom: 8rem;
        }
    }

    .button {
        @include media(">=small") {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

/*
    /ask-a-nurse
*/

// .ask-a-nurse--image-banner {
//     .disclaimer {
//         font-size: 11px;
//         line-height: 14px;
//     }

//     > div:nth-of-type(2) {
//         margin-top: 2rem;
//     }
// }

#sign-up .form--cne-sign-up {
    // Dropdown error message is split for one of them (X on right, copy underneath)
    .form__error--split {
        @include media(">=small") {
            margin-top: 1rem;
            padding-left: 0;
            &::before, &::after {
                top: unset;
                left: unset;
                bottom: 3.4rem;
                right: -5.5rem;
            }
        }
    }
}

/*
    Utility pages
*/

// .grid.utility-page-intro {
//     margin-bottom: 9rem;

//     p:not(:last-child) {
//         margin-bottom: 2rem;
//     }

//     p.buttons {
//         margin-top: 4rem;
//     }
// }

/*
    Sitemap
*/

.sitemap {
    margin-bottom: 9rem;

    ul {
        &:not(:last-of-type) {
            margin-bottom: 5rem;
        }

        &.list--plain {
            // We still want margins between the list items
            > li {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }

        a {
            font-weight: bold;
        }
    }
}
