// Xermelo header
header {
    @media only screen and (max-width: 991.98px) {
        height: 88px;
    }

    // Element that becomes fixed positioned
    .header__fixed-container {
        @media only screen and (max-width: 991.98px) {
            height: 88px;
        }

        // Establishes sizing
        .grid {

            margin: 0 auto !important;
            width: 100% !important;
            padding: 0 24px !important;

            @include media(">=small") {
                max-width: 540px !important;
            }

            @include media(">=medium") {
                max-width: 720px !important;
            }

            @include media(">=large") {
                max-width: 960px !important;
            }

            @include media(">=x-large") {
                max-width: 1140px !important;
            }

            @include media(">=xx-large") {
                max-width: 1360px !important;
            }

            // Logo
            .header__site-logo {
                position: absolute;
                top: 1rem;
                left: 24px;
                transform: translate(0,
                        calc(var(--header-compression-progress) * ( // This shifts the logo down slightly
                                2px + (var(--header-compression) * 0.5))));
                display: block;
                width: 224px;
                height: 67px;
                background-image: url("/themes/xermelo/images/global/xermelo-logo/TRSA_XER_Logo_FullColor_RGB.svg");
                background-size: contain;
                // Shifting to the left a bit to accommodate a bit of whitespace in the logo
                background-position: -3px top;
                text-indent: -9000em;
                overflow: hidden;
                -webkit-tap-highlight-color: transparent;

                @include media(">=small") {
                    top: 1.5rem;
                    transform: translate(0,
                            calc(var(--header-compression-progress) * ( // This shifts the logo down slightly
                                    2px + (var(--header-compression) * 0.5))));

                    // Shrinking this so all the copy will fit at 768px
                    width: 200px;
                }

                @include media(">=medium") {
                    top: 2rem;
                    width: 224px;
                    height: 67px;
                }

                @include media(">=large") {
                    left: 24px;
                }
            }

            // Hamburger
            .header__hamburger {

                @media only screen and (max-width: 991.98px) {
                    right: 40px;
                    display: block !important;
                }

                span {
                    background-color: $color-brand-purple;
                }
            }

            // Top links (desktop only)
            .header__top-links {
                right: 0;
                font-size: 13px;
                line-height: 3rem;

                @include media(">=large") {
                    right: grid-size(1, 1);
                }

                li {
                    a {
                        font-weight: normal;
                        text-decoration: underline;
                        color: $color-dark-gray;
                    }
                }
            }

            // Nav menu
            >nav {
                @media only screen and (max-width: 991.98px) {
                    display: none;
                    padding-top: 24px;
                    position: fixed;
                    top: 88px;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 82.2vh;
                }

                @include media(">=large") {
                    right: 24px;
                }

                &::after {
                    @media only screen and (max-width: 991.98px) {
                        display: none;
                    }
                }



                .header__nav-scroll-container {
                    @media only screen and (max-width: 991.98px) {
                        overflow-y: auto !important;
                        overflow-x: auto !important;
                        height: 100%;
                    }

                    >div {


                        @media only screen and (max-width: 767.98px) {
                            width: 100% !important;
                            margin: 0 auto !important;
                            padding: 0 24px !important;
                            max-width: 540px !important;
                        }

                        @media only screen and (max-width: 991.98px) {
                            max-width: 540px !important;
                        }

                        // Individual nav items
                        >div.header__nav-item {

                            // Submenu titles & top-level links
                            span,
                            >a,
                            >a:hover,
                            >a:active,
                            >a:visited {
                                font-family: $font-sans;
                                font-size: 20px;
                                line-height: 4rem;
                                font-weight: bold;
                                text-decoration: none;
                                color: $color-brand-purple;
                                margin-bottom: 6px;


                                @include media(">=small") {
                                    font-family: $font-sans-condensed;
                                    font-size: 19px;
                                }

                                // Current item / hover indicator
                                &:before {
                                    background-color: $color-green;
                                }
                            }

                            // Submenus
                            >div {
                                >ul {
                                    >li {
                                        margin-bottom: 6px;

                                        a,
                                        a:hover,
                                        a:active,
                                        a:visited {
                                            font-family: $font-sans;
                                            font-size: 18px;
                                            line-height: 32px;
                                            font-weight: normal;
                                            text-decoration: none;
                                            color: $color-brand-purple;

                                            @include media(">=small") {
                                                font-family: $font-sans-condensed;
                                                font-size: 19px;
                                                font-weight: bold;
                                            }
                                        }

                                        a {

                                            // Current item / hover indicator
                                            &:before {
                                                background-color: $color-green;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        // CNE callout
                        .header__cne-callout {
                            @include mobile-only;
                            margin: 2rem 0;
                            padding: 2rem 4rem;
                            font-size: 14px;
                            line-height: 2rem;
                            text-align: center;
                            background-color: $color-green;
                            border-radius: 1rem;

                            a,
                            a:hover,
                            a:active,
                            a:visited {
                                font-weight: bold;
                                color: $color-dark-gray
                            }
                        }

                        // "For Healthcare Professionals"
                        >p {
                            font-size: 18px;
                            line-height: 32px;
                            font-weight: bold;
                            color: $color-brand-purple;
                        }
                    }
                }

                .mobile-bottom-item {
                    background-color: #D9D9D9;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 32px;
                    color: #482F8B;
                    text-align: center;
                    display: block;
                    padding: 10px 24px;
                }
            }
        }
    }
}