// Recipe links seen on "/diet-and-nutrition"
.recipe-link {
    position: relative;
    display: flex;
    align-items: end;
    min-height: 184px;


    img {
        margin-right: 20px;
        max-width: 138px;

        @include media(">=large") {
            margin-right: 25px;
            max-width: 192px;
        }
    }

    .button {
        min-width: 0;
    }
}

// Content of actual recipes
.recipe {
    padding-top: 65px;

    @include media(">=large") {
        padding-top: 100px;
    }

    h3 {
        margin-top: 5rem;
    }

    h4 {
        margin-top: 3rem;
    }
}