{%

set classes = [
  'hero'
]

%}

<section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    
    <div class="grid">
        <div class="col-large--8-7">
            {{ content }}
        </div>
    </div>
</section>
