{%

set classes = [
  'homepage-hero'
]

%}

<section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    
    <div class="grid grid--justify-start">
        <div class="col-d--7-7 col-large--5-4 ml-large--2-2">
            {{ content }}
        </div>
    </div>
</section>
