{%

set classes = [
  'homepage-hero'
]

%}

<section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    
    <div class="grid grid--justify-start">
        <div class="col-d--10-9 col-medium--7-6 ml-medium--2-2">
            {{ content }}
        </div>
    </div>
</section>
