// Prerequisites
@import "global/include-media.scss";
@import "global/variables.scss";
@import "global/layout.scss";
@import "global/grid.scss";
@import "global/forms.scss";

/*
    Properties
*/
:root {
    // The height of the header
    --header-height: 88px;

    @include media(">=small") {
        --header-height: 104px;
    }
}

html {
    font-size: 8px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-width: $mobile-min-width;
    font-size: 2rem;
    line-height: 3rem;

    &.preload {
        *,
        &:before,
        &:after,
        *:before,
        *:after {
            transition: none !important;
        }
    }
}

// Don't affect base element styles in Drupal elements
.dialog-off-canvas-main-canvas,
.modal,
.backdrop {
    // Base Styles
    @import "config/base.scss";

    // Components
    @import "components/buttons.scss";

    @import "components/header.scss";
    @import "components/footer.scss";

    @import "components/banner.scss";
    @import "components/cookie-banner.scss";

    @import "components/ctas.scss";
    @import "components/sign-up-form.scss";
    @import "components/rep-request-form.scss";

    @import "components/isi-content.scss";
    @import "components/isi-on-page.scss";
    @import "components/isi-tray.scss";

    @import "components/references.scss";
}

// These appear directly within the body element
@import "components/backdrop.scss";

@import "components/modal.scss";
@import "components/leaving-site-modal.scss";
@import "components/npi-lookup-modal.scss";
